@media(max-width:992px){

.hero-container{

grid-template-columns:1fr;

text-align:center;

}

.hero-buttons{

justify-content:center;

}

.nav-links{

display:none;

}

.hero-left h1{

font-size:50px;

line-height:60px;

}

}
/*=========================
PART 2 RESPONSIVE
=========================*/

@media(max-width:992px){

.logo-slider{

grid-template-columns:repeat(2,1fr);

}

.stats-grid{

grid-template-columns:repeat(2,1fr);

}

.partner-grid{

grid-template-columns:repeat(2,1fr);

}

}


@media(max-width:576px){

.logo-slider{

grid-template-columns:1fr;

}

.stats-grid{

grid-template-columns:1fr;

}

.partner-grid{

grid-template-columns:1fr;

}

.section-title{

font-size:32px;

}

.trusted-title{

font-size:22px;

}

}
/*=========================
PROGRAM RESPONSIVE
=========================*/

@media(max-width:992px){

.program-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:576px){

.program-grid{

grid-template-columns:1fr;

}

.program-card{

padding:30px;

}

.program-card h3{

font-size:24px;

}

.section-subtitle{

font-size:17px;

}

}
/*=========================
PART 3 RESPONSIVE
=========================*/

@media(max-width:992px){

.why-grid,
.ai-grid,
.package-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:576px){

.why-grid,
.ai-grid,
.package-grid{

grid-template-columns:1fr;

}

.package-card{

padding:35px;

}

}
/*=========================
PART 4
=========================*/

@media(max-width:992px){

.trainer-grid,
.testimonial-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:576px){

.trainer-grid,
.testimonial-grid{

grid-template-columns:1fr;

}

}
/*=========================
PART 5
=========================*/

@media(max-width:992px){

.bmi-container,
.contact-grid,
.footer{

grid-template-columns:1fr;

}

.store-grid{

grid-template-columns:repeat(2,1fr);

}

}

@media(max-width:576px){

.store-grid{

grid-template-columns:1fr;

}

.bmi-card h1{

font-size:55px;

}

}