.table-box{
    background:#1b1f27;
    padding:30px;
    border-radius:15px;
}

.table-box h2{
    color:#00ff99;
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th{
    background:#00d4ff;
    color:#fff;
    padding:15px;
}

td{
    padding:15px;
    color:#fff;
    border-bottom:1px solid #333;
}

tr:hover{
    background:#242a35;
}